.square {
  height: 30px;
  width: 30px !important;
  border: 1px solid black;
  margin: 1px 1px;
}

.black {
  background: #484848;
}

.white {
  background: #f7f7f7;
}

.pieces {
  height: 30px;
}

.container {
  margin-top: 50px;
}
